.Tabs{
    padding: 10% 0 0 0;
    .destHead{
        font-size: 28px;
        margin: 5% 0 2% 10%;
        text-transform: uppercase;
        font-family: 'Barlow Condensed';
        line-height: 33.6px;
        letter-spacing: 4.72px;
        font-weight:400;
        .homeNumbering{
            margin-right: 16px;
            font-family: 'Barlow Condensed';
            font-weight: 400;
            font-size: 28px;
            color: #FFFFFF;
            opacity: 0.25;
            line-height: 33.6px;
            letter-spacing: 4.72px;
        }
    }
    .nav{
        display: flex;
        list-style-type:none;
        li{
            margin: 0 7% 0 0 ;
            font-family: 'Barlow Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 2.7px;
            color: #FFFFFF;

        }
    }
}
@media screen and (max-width: 768px){
   
     .Tabs{
        .destHead{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
            color: #FFFFFF;
            .homeNumbering{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 3.375px;
                mix-blend-mode: normal;
                opacity: 0.25;
            }

        }
     }

}
